body{
    margin: 8px;
    display: block;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.2rem;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin:0 auto;
}


